.App
{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer
{
  margin-top: auto;
}

body{
  background-color: #ABA8B2;
}

.borderColor{
  border-color: #A8902D;
}

.bg{
  background-color: #EEF0F2;
}

.bgBtn{
  background-color: #6764E9;
}

.bgCard{
  background-color: #c0c0c0;
}